.ui.grid>.row>[class*="center aligned"].column.column, 
.ui.grid>[class*="center aligned"].column.column, 
.ui.grid>[class*="center aligned"].row>.column, 
.ui[class*="center aligned"].grid>.column, 
.ui[class*="center aligned"].grid>.row>.column{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}

.ui.grid>.row>.column>div>img{
   max-width: 300px;
   max-height: 200px;
   margin: 1rem;
}

.ui.grid>.row>.column>div>.yayImage:hover{
   transform: scale(2) translate(20%, 25%);
   transition: transform 0.5s 0.3s ease-out;
   z-index: 1000;
}

.ui.grid>.row>.column>div>.nayImage:hover{
   transform: scale(2) translate(-20%, 25%);
   transition: transform 0.5s 0.3s ease-out;
   z-index: 1000;
}
